.container {
  background-color: #A3B3CD!important;
}

.btn {
  background: #b84c65!important;
  border: none!important;
}

.MuiTypography-h3, .MuiTypography-h5 {
  font-family: 'Source Sans Pro', sans-serif!important;
  font-weight: 600!important;
}

.MuiTypography-h6 {
  font-family: 'Source Sans Pro', sans-serif!important;
  font-weight: 400!important;
}

.MuiButton-root {
  font-family: 'Source Sans Pro', sans-serif!important;
  letter-spacing: 1px!important;
}
